<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sc.mapper.RsPostMessageMapper" >
  <resultMap id="BaseResultMap" type="com.sc.entity.RsPostMessage" >
    <constructor >
      <idArg column="POST_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="POST_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="DTMARTMENT_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="REMARK_EXPLAIN" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="COMPNAY_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="LAST_MODIFY_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    POST_ID, POST_NAME, DTMARTMENT_ID, REMARK_EXPLAIN, COMPNAY_ID, LAST_MODIFY_DATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sc.entity.RsPostMessageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from RS_POST_MESSAGE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from RS_POST_MESSAGE
    where POST_ID = #{postId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from RS_POST_MESSAGE
    where POST_ID = #{postId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.sc.entity.RsPostMessageExample" >
    delete from RS_POST_MESSAGE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sc.entity.RsPostMessage" >
    insert into RS_POST_MESSAGE (POST_ID, POST_NAME, DTMARTMENT_ID, 
      REMARK_EXPLAIN, COMPNAY_ID, LAST_MODIFY_DATE
      )
    values (#{postId,jdbcType=DECIMAL}, #{postName,jdbcType=VARCHAR}, #{dtmartmentId,jdbcType=DECIMAL}, 
      #{remarkExplain,jdbcType=VARCHAR}, #{compnayId,jdbcType=DECIMAL}, #{lastModifyDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sc.entity.RsPostMessage" >
    insert into RS_POST_MESSAGE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="postId != null" >
        POST_ID,
      </if>
      <if test="postName != null" >
        POST_NAME,
      </if>
      <if test="dtmartmentId != null" >
        DTMARTMENT_ID,
      </if>
      <if test="remarkExplain != null" >
        REMARK_EXPLAIN,
      </if>
      <if test="compnayId != null" >
        COMPNAY_ID,
      </if>
      <if test="lastModifyDate != null" >
        LAST_MODIFY_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="postId != null" >
        #{postId,jdbcType=DECIMAL},
      </if>
      <if test="postName != null" >
        #{postName,jdbcType=VARCHAR},
      </if>
      <if test="dtmartmentId != null" >
        #{dtmartmentId,jdbcType=DECIMAL},
      </if>
      <if test="remarkExplain != null" >
        #{remarkExplain,jdbcType=VARCHAR},
      </if>
      <if test="compnayId != null" >
        #{compnayId,jdbcType=DECIMAL},
      </if>
      <if test="lastModifyDate != null" >
        #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sc.entity.RsPostMessageExample" resultType="java.lang.Integer" >
    select count(*) from RS_POST_MESSAGE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update RS_POST_MESSAGE
    <set >
      <if test="record.postId != null" >
        POST_ID = #{record.postId,jdbcType=DECIMAL},
      </if>
      <if test="record.postName != null" >
        POST_NAME = #{record.postName,jdbcType=VARCHAR},
      </if>
      <if test="record.dtmartmentId != null" >
        DTMARTMENT_ID = #{record.dtmartmentId,jdbcType=DECIMAL},
      </if>
      <if test="record.remarkExplain != null" >
        REMARK_EXPLAIN = #{record.remarkExplain,jdbcType=VARCHAR},
      </if>
      <if test="record.compnayId != null" >
        COMPNAY_ID = #{record.compnayId,jdbcType=DECIMAL},
      </if>
      <if test="record.lastModifyDate != null" >
        LAST_MODIFY_DATE = #{record.lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update RS_POST_MESSAGE
    set POST_ID = #{record.postId,jdbcType=DECIMAL},
      POST_NAME = #{record.postName,jdbcType=VARCHAR},
      DTMARTMENT_ID = #{record.dtmartmentId,jdbcType=DECIMAL},
      REMARK_EXPLAIN = #{record.remarkExplain,jdbcType=VARCHAR},
      COMPNAY_ID = #{record.compnayId,jdbcType=DECIMAL},
      LAST_MODIFY_DATE = #{record.lastModifyDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.entity.RsPostMessage" >
    update RS_POST_MESSAGE
    <set >
      <if test="postName != null" >
        POST_NAME = #{postName,jdbcType=VARCHAR},
      </if>
      <if test="dtmartmentId != null" >
        DTMARTMENT_ID = #{dtmartmentId,jdbcType=DECIMAL},
      </if>
      <if test="remarkExplain != null" >
        REMARK_EXPLAIN = #{remarkExplain,jdbcType=VARCHAR},
      </if>
      <if test="compnayId != null" >
        COMPNAY_ID = #{compnayId,jdbcType=DECIMAL},
      </if>
      <if test="lastModifyDate != null" >
        LAST_MODIFY_DATE = #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where POST_ID = #{postId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.entity.RsPostMessage" >
    update RS_POST_MESSAGE
    set POST_NAME = #{postName,jdbcType=VARCHAR},
      DTMARTMENT_ID = #{dtmartmentId,jdbcType=DECIMAL},
      REMARK_EXPLAIN = #{remarkExplain,jdbcType=VARCHAR},
      COMPNAY_ID = #{compnayId,jdbcType=DECIMAL},
      LAST_MODIFY_DATE = #{lastModifyDate,jdbcType=TIMESTAMP}
    where POST_ID = #{postId,jdbcType=DECIMAL}
  </update>
</mapper>